/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.divider {
  padding: 20px 0;
}

h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

.headline {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.headline h2 {
  color: white;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 10px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15vh 0 0 0;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
}

.button {
  display: inline-block;
  background-color: #F95E9B; /*pink*/
  border: none;
  color: white;
  padding: 5px 32px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  font-weight: 800;
  letter-spacing: 1px;
}

.button:hover {
  color: #fff;
  background-color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #F95E9B;
}


/*NAVIGATION MENU*/
nav {
  width: 100%;
  height: 10vh;
  background-color: #F95E9B;
  position: fixed;
  z-index: 999;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.menu a:hover {
    color: #000000;
    font-weight: 800;
}


/*MAIN SECTION (BACKGROUND AND CARD)*/
.main {
  width: 100%;
  height: 100vh;
  background: url('../images/background.png') fixed;
  background-size: cover;
}

.logo {
  width: 25%;
  margin: 5%;
}

.hero {
  box-shadow: 0 4px 8px 0 rgba(1,0,0,1);
  transition: 0.3s;
  background-color: #F95E9B;
  border-radius: 20px;
  opacity: 0.8;
  padding: 2px 45px;
  text-align: center;
}


/*ABOUT SECTION*/
.about {
  width: 100%;
  background-color: #fff;
  min-height: 50vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content {
  width: 85%%;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-gap: 40px;
  margin: 30px auto;
}

.article {
  padding-right: 30px;
}

.article p {
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.image {
  max-width: 100%;
  margin: auto;
}

.image img {
  width: 70%;
  margin: auto;
}


/*SKILLS SECTION*/
.skills {
  background-color: #F95E9B;
  height: auto;
  padding-bottom: 15vh;
}

.skills .title {
  color: #fff;
  padding-bottom: 50px;
}

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 33.33%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.icon img {
  max-width: 100px;
}

/*PROJECTS SECTION*/
.projects {
  background-color: #fff;
  height: auto;
  padding-bottom: 15vh;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  width: 260px;
}

img {
  border-radius: 10px 10px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card container {
  max-width: 100px;
}

/*BREAK*/
#break {
  background: url('../images/break.png') fixed;
  height: 50vh;
}

/*CONTACT SECTION*/
#contact {
  border: 1px solid white ;
}

.contact-form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px 0;
}

input[type=text], input[type=email], textarea[type=comment] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


/*FOOTER*/
.footer {
  width: 100%;
  height: auto;
  background-color: #F95E9B;
  padding-bottom: 50px;
}

.social {
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
}

.profile {
  width: 25px;
}

.credits {
  text-align: center;
  padding-top: 20px;
  letter-spacing: 1px;
}



/*MEDIA*/

/*SMARTPHONE, MAX 768PX*/
@media only screen and (max-width: 768px)  {

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100vw;
    margin: 0 auto;
  }

  .headline h1 {
    font-size: 40px;
    letter-spacing: 5px;
  }

  .headline h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .button {
    padding: 15px 20px;
  }

}

/*TABLETS, MIN 768PX*/
@media only screen and (min-width: 768px) {

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100vw;
    margin: 0 auto;
  }

  .headline {
    justify-content: center;
    padding: 0 30px;
  }

  .headline h1 {
    font-size: 50px;
    letter-spacing: 20px;
  }

  .headline h2 {
    font-size: 25px;
    letter-spacing: 10px;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    max-width: 70%;
    margin: 0 auto;
  }

  .panel {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .board {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex wrap: wrap;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    width: 260px;
  }

  .button {
    padding: 20px 30px;
  }

}


/*LAPTOP, MIN 992PX*/
@media only screen and (min-width: 992px) {

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 50%;
    margin: 0 auto;
  }

  .content {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
  }

  .panel {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .board {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex wrap: wrap;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  width: 300px;
}
}
